---
title: The Leading Open Source Communication Hub
permalink: "/frtn"
layout: en/default
class: 'content-page '
description: 'Control your data, Connect your Ecosystem and Manage your Communications from a high security platform.'
theme: light
lang: en
redirect_from:
- "/frtn/"
---

<section class="hero" style="background-color: #040B1B;">
    <div class="space--5"></div>
    <h1 class="display--big theme_type--dark">The Leading Open Source Communication Hub</h1>
    <p class="display--small theme_type--dark">Control your data, Connect your Ecosystem and Manage your Communications from a high security platform.</p>
    <div class="space--4"></div>
    <section class="container ">
        <img class="content-hero-img" src="{{ '/images/frtn/cover.jpg' | relative_url }}" alt="{{ page.title }}" />
    </section>
</section>

<div class="space--10"></div>
<div class="space--4"></div>

<section class="container">
    <div class="flex-grid grid--justify-around">
        <div class="col">

        </div>
    </div>
</section>

<div class="space--3"></div>

<section class="container">
    <div class="flex-grid grid--justify-around">
        <div class="col">
            <h3 class="display align--center">Say hello to a reliable communication.</h3>

            <div class="space--1"></div>

            <p class="theme_type--space half-paragraph">Security starts with downsizing the number of tools you use to communicate.
            </p>

            <div class="space--1"></div>

            <p class="theme_type--space half-paragraph"><b>Rocket.Chat is an Open Source communication hub</b> that provides the crucial features to keep your work centralized in one place: videoconferencing, private groups, public and private channels, direct messages,  discussions, threads, and more.</p>

            <div class="space--3"></div>

            <h3 class="display--medium align--center"> Enjoy the benefits of the open source world. Reduce at least 30% of time spent with emails and time-waster platforms.</h3>

            <div class="space--1"></div>
            <div style="width: 65%; margin: auto;">
                <p class="theme_type--space half-paragraph"> ✔️ Omnichannel features for customer engagement</p>
                <p class="theme_type--space half-paragraph"> ✔️ Team collaboration tools for clear communication</p>
                <p class="theme_type--space half-paragraph"> ✔️ DevOps and ChatOps for productivity boost</p>
                <p class="theme_type--space half-paragraph"> ✔️ Data Security and Compliance Friendly features</p>
                <p class="theme_type--space half-paragraph"> ✔️ Self managed or Rocket.Chat’s SaaS</p>
            </div>

            <div class="space--2"></div>
            <a href="https://rocket.chat/contact" style="margin: 0px 32%" class="button">Learn how your company can achieve more with Rocket.Chat</a>
        </div>
    </div>
</section>

<div class="space--3"></div>

<section class="container" style="background-color: #030c1a; max-width: unset; padding: 2em 0;">
    <div class="flex-grid grid--justify-around">
        <div class="col">
            <h3 class="theme_type--dark display align--center">Rocket.Chat is a Digital Workplace</h3>
            <p class="theme_type--dark align--center">that improves the workstream collaboration and customer engagement by combining:</p>

            <div class="space--4"></div>

            <div style="display: flex;width: 68%;margin: auto;justify-content: space-between;">
                <a href="rocket.chat/customer-solutions">
                    <div style="display: flex; flex-direction: column; width: 300px; margin: auto;">
                        <img src="/images/solutions/livechat-hero.svg" alt="" style="width: 190px; margin: auto;">
                        <h3 class="theme_type--dark display--medium align--center"><b>Omnichannel</b></h3>
                        <p class="theme_type--dark align--center">Let the customer choose how to contact you with a cross-channel platform </p>
                    </div>
                </a>
                <a href="rocket.chat/team-collab">
                    <div style="display: flex; flex-direction: column; width: 300px;">
                        <img src="/images/solutions/collab-hero.svg" alt="" style="width: 190px; margin: auto;">
                        <h3 class="theme_type--dark display--medium align--center"><b>Team Collaboration</b></h3>
                        <p class="theme_type--dark align--center">Integrate Rocket.Chat features into popular applications such as Drupal or Pidgin</p>
                    </div>
                </a>
                <a href="rocket.chat/devops">
                    <div style="display: flex; flex-direction: column; width: 300px;">
                        <img src="/images/solutions/devops-hero.svg" alt="" style="width: 190px; margin: auto;">
                        <h3 class="theme_type--dark display--medium align--center"><b>DevOps</b></h3>
                        <p class="theme_type--dark align--center">Personalize your UI by overriding any of the built-in styles</p>
                    </div>
                </a>
            </div>

            <div class="space--3"></div>
            <div class="community__hero">
                <div class="container">
                    <div class="community__hero--wrap">
                        <p class="label theme_type--grey">Community</p>
                        <h2 class="display--big theme_type--dark">Join the Rocket.Chat community </h2>
                        <p class="theme_type--grey">Hundreds of people contribute to Rocket.Chat projects by coding JavaScript, TypeScript, Java, Swift, HTML, CSS and writing documentation.</p>
                        <p class="theme_type--grey">Join our <a class="button--link" href="//open.rocket.chat/" target="_blank" rel="noopener noreferrer">open workspace</a> to chat with the Rocket.Chat team and community.</p>

                        <div class="flex-grid--nobreak">
                          <div class="col">
                            <a class="home-community_github" target="_blank" rel="noopener noreferrer" href="//github.com/RocketChat/Rocket.Chat/stargazers">
                              <span><img style="top: 0.1em;"src="{{'/images/default/star.svg' | relative_url }}" alt="GitHub Stars">Star</span>
                              <span class="star-count">{{site.stars}}K</span>
                            </a>
                            <a class="home-community_github" target="_blank" rel="noopener noreferrer" href="//github.com/RocketChat/Rocket.Chat/fork">
                              <span><img src="{{'/images/default/fork.svg' | relative_url }}" alt="GitHub forks">Fork</span>
                              <span class="fork-count">{{site.forks}}K</span>
                            </a>
                            <a class="community__hero_github-link" target="_blank" rel="noopener noreferrer" href="//github.com/RocketChat/Rocket.Chat">
                              <span><img src="{{'/images/default/github.svg' | relative_url }}" alt="GitHub"></span>
                              Open on GitHub
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="space--3"></div>

<section class="container">
    <div style="display: flex;margin: auto;width: max-content;align-items: center;text-align: right;">
        <div style="display: flex; flex-direction: column; ">
            <p class="label theme_type--grey">HIGH TRUST COMMUNICATION</p>
            <h3 class="display">Compliant Messaging</h3>
        </div>
        <img style="height: 300px; margin-left: 16px;" alt="integrations" src="{{'/images/solutions/security-hero.svg' | relative_url}}">

    </div>
</section>

<section class="container" style="background-color: #030c1a; max-width: unset; padding: 2em 0;">
    <div style="display: flex;margin: auto;width: 50%; font-weight: 600;">
        <div style="display: flex; flex-direction: column; text-align: right; margin-right: 16px; width: 370px; ">
            <p class="theme_type--dark" style="margin-bottom: 54px;">Compliant with GDPR, CCPA and with HIPAA, if self-managed installs follow HIPAA policies.</p>
            <p class="theme_type--dark">Rocket.Chat enables companies to structure their communication as they want. Air-Gapped installs are not rare with Rocket.Chat. They allow you to keep all network traffic on your private network.</p>
        </div>
        <div style="display: flex; flex-direction: column; width: 370px;">
            <p class="theme_type--dark">Admins can choose all the available tools and features on their workspace, choosing apps from different vendors.</p>
            <p class="theme_type--dark">Create different roles and customize user permissions to connect multiple stakeholders. Use the audit panel for auditors to keep track of compliance requirements.</p>
            <a class="button--link" href="https://docs.rocket.chat/administrator-guides/import/" target="_blank" rel="noopener noreferrer">Learn more about migrating to Rocket.Chat</a>
        </div>

    </div>
</section>

<div class="space--3"></div>

<section class="container">
    <div class="flex-grid grid--justify-around">
        <div class="col">
            <h3 class="display align--center">+ 10 million users trust on Rocket.Chat</h3>

            <div class="space--1"></div>

            <div style="width: 65%; margin: auto;">
                <p class="theme_type--space half-paragraph">  ✔️ The best cost-benefit enterprise communication platformt</p>
                <p class="theme_type--space half-paragraph"> ✔️ Productivity increased by 30% by reducing time with email and multiple platforms</p>
                <p class="theme_type--space half-paragraph"> ✔️ Team collaboration made easy, for internal or cross company </p>
                <p class="theme_type--space half-paragraph"> ✔️ Seamless adaptation for all companies, powerful APIs, Ldap, Webhooks and Apps</p>
                <p class="theme_type--space half-paragraph"> ✔️ Data privacy ensured; GDPR, HIPAA, CCPA, you name it</p>
            </div>

            <div class="space--3"></div>
            <div class="card theme_box--light-strong clients" style="filter: invert(1)">
                {% include client-slideshow.html %}
            </div>
        </div>
    </div>
</section>

<div class="space--10"></div>

<section class="container">
    <div class="flex-grid grid--justify-around">
        <div class="col">
            <h3 class="display align--center">Manipulate the software as you want</h3>

            <div class="space--1"></div>



            <p class="theme_type--space theme_type--space align--center half-paragraph display--medium">Rocket.Chat allows you to talk with your teammates <b>AND</b> external customers in the same place!</p>

            <div class="space--6"></div>

            <div style="display: flex; width: 70%; margin: auto;">
                <img style="height: 400px;" alt="integrations" src="{{'/images/solutions/livechat-integration.png' | relative_url}}">
                <div class="space--2"></div>
                <div style="margin-top: 2em; margin-left: 186px;">
                    <p class="label theme_type--grey">CUSTOMER ENGAGEMENT</p>
                    <h3 class="display">Omnichannel</h3>
                    <div class="icons" style="width: max-content;">
                        <a href="https://rocket.chat/docs/administrator-guides/integrations/" rel="noopener noreferrer">
                            <img alt="gmail integration" src="{{'/images/solutions/gmail.svg' | relative_url}}">
                        </a>
                        <a href="https://rocket.chat/docs/administrator-guides/integrations/" rel="noopener noreferrer">
                            <img alt="mailchimp integration" src="{{'/images/solutions/mailchimp.svg' | relative_url}}">
                        </a>
                        <a href="https://rocket.chat/docs/administrator-guides/integrations/" rel="noopener noreferrer">
                            <img alt="instagram integration" src="{{'/images/solutions/instagram.svg' | relative_url}}">
                        </a>

                        <a href="https://rocket.chat/docs/administrator-guides/integrations/" rel="noopener noreferrer">
                            <img alt="facebook messager integration" src="{{'/images/solutions/facebook-messager.svg' | relative_url}}">
                        </a>

                        <a href="https://rocket.chat/docs/administrator-guides/integrations/" rel="noopener noreferrer">
                            <img alt="telegram integration" src="{{'/images/solutions/telegram.svg' | relative_url}}">
                        </a>

                        <a href="https://rocket.chat/docs/administrator-guides/integrations/" rel="noopener noreferrer">
                            <img alt="whatsapp integration" src="{{'/images/solutions/whatsapp.svg' | relative_url}}">
                        </a>
                    </div>
                    <div class="space--1"></div>
                    <p class="theme_type--space">Integrate your workspace with numerous communication tools and serve your clients from a unique place. Don’t miss new opportunities and keep track of conversations for a better service.</p>
                </div>
            </div>

            <div class="space--6"></div>


            <div style="display: flex; flex-direction: row-reverse; width: 90%; margin: auto;">
                <img style="height: 250px; margin-right: 64px;" alt="integrations" src="{{'/images/jobs/hero.svg' | relative_url}}">
                <div class="space--2"></div>
                <div style="text-align: right; margin-right: 64px;">
                    <p class="label theme_type--grey">MODULAR PLATFORM</p>
                    <h3 class="display">Endless customization</h3>
                    <div class="space--1"></div>
                    <p class="theme_type--space">Admins can explore Rocket.Chat’s Marketplace and add new functionalities to the platform or develop new apps and boost their environment with new features. Powerful REST and Real-time API’s LDAP Real Time Sync White-Label Allowed</p>
                </div>
            </div>

            <div class="space--6"></div>
            <div style="display: flex; width: 90%; margin: auto;">
                <img style="height: 342px; margin-right: 64px;" alt="integrations" src="{{'/images/solutions/easy-integrations.png' | relative_url}}">
                <div class="space--2"></div>
                <div>
                    <p class="label theme_type--grey">DEVOPS</p>
                    <h3 class="display">Process Automation</h3>
                    <div class="space--1"></div>
                    <div class="icons">
                        <a href="https://rocket.chat/docs/administrator-guides/integrations/github/" rel="noopener noreferrer">
                            <img alt="github integration" src="{{'/images/solutions/github.svg' | relative_url}}">
                        </a>
                        <a href="https://rocket.chat/atlassian" rel="noopener noreferrer">
                            <img alt="atlassian integration" src="{{'/images/solutions/atlassian.svg' | relative_url}}">
                        </a>
                        <a href="https://rocket.chat/docs/administrator-guides/integrations/zapier/using-zaps/" rel="noopener noreferrer">
                            <img alt="zapier integration" src="{{'/images/solutions/zapier.svg' | relative_url}}">
                        </a>

                        <a href="https://rocket.chat/docs/administrator-guides/integrations/gitlab/" rel="noopener noreferrer">
                            <img alt="gitlab integration" src="{{'/images/solutions/gitlab.svg' | relative_url}}">
                        </a>

                        <a href="https://rocket.chat/docs/installation/paas-deployments/aws/" rel="noopener noreferrer">
                            <img alt="aws integration" src="{{'/images/solutions/aws.svg' | relative_url}}">
                        </a>
                    </div>
                    <p class="theme_type--space">mprove your development process. Get real time updates through development progress.</p>

                    <div class="space--1"></div>

                    <p class="text">Moving from Atlassian? <a class="button--link" href="https://rocket.chat/atlassian" rel="noopener noreferrer">Learn more</a></p>

                    <div class="atlassian-logos">
                        <img src="{{'/images/atlassian/jira.svg' | relative_url}}">
                        <img src="{{'/images/atlassian/confluence.svg' | relative_url}}">
                        <img src="{{'/images/atlassian/bitbucket.svg' | relative_url}}">
                        <img src="{{'/images/atlassian/trello.svg' | relative_url}}">
                    </div>
                </div>
            </div>
            <div class="space--6"></div>

            {% include components/card-box.html lang=include.lang box-type="post-cta-box" label="" title="Ready to increase your productivity by 30% with Rocket.Chat?" content="Put an end to crowded email inboxes. Centralize collaboration at a single place." extra-classes="long" button-1="Start SaaS Trial" button-1-link="https://cloud.rocket.chat/trial/?utm_source=remote-work&utm_medium=banner&utm_campaign=remote_work" button-2="Contact Us" button-2-link="https://rocket.chat/contact?utm_source=remote-work&utm_medium=banner&utm_campaign=remote_work" %}

        </div>
    </div>
</section>
