{% assign clientsHome = "" | split: "" %}

{% for client in site.data.client-info %}
  {% if client.showInHome %}
    {% assign clientsHome = clientsHome | push: client %}
  {% endif %}
{% endfor %}

{% unless include.client-type %}
<div class="slider fade">
  <div class="slider__logo-container">
    {% for client in clientsHome limit: 4 %}
      {% capture client-logo-url%}/images/client-logos/{{client.logo}}{% endcapture %}
      <img src="{{client-logo-url | relative_url}}" alt="{{client.name}}" />
    {% endfor %}
  </div>
</div>

<div class="slider fade">
  <div class="slider__logo-container">
    {% for client in clientsHome limit: 4 offset: 4 %}
{% capture client-logo-url%}/images/client-logos/{{client.logo}}{% endcapture %}
      <img src="{{client-logo-url | relative_url}}" alt="{{client.name}}" />    {% endfor %}
    </div>
</div>

<div class="slider fade">
  <div class="slider__logo-container">
    {% for client in clientsHome limit: 4 offset: 8 %}
{% capture client-logo-url%}/images/client-logos/{{client.logo}}{% endcapture %}
      <img src="{{client-logo-url | relative_url}}" alt="{{client.name}}" />    {% endfor %}
  </div>
</div>

<div class="slider fade">
  <div class="slider__logo-container">
    {% for client in clientsHome limit: 4 offset: 12 %}
{% capture client-logo-url%}/images/client-logos/{{client.logo}}{% endcapture %}
      <img src="{{client-logo-url | relative_url}}" alt="{{client.name}}" />    {% endfor %}
  </div>
</div>

<div class="slider fade">
  <div class="slider__logo-container">
    {% for client in clientsHome limit: 4 offset: 16 %}
{% capture client-logo-url%}/images/client-logos/{{client.logo}}{% endcapture %}
      <img src="{{client-logo-url | relative_url}}" alt="{{client.name}}" />    {% endfor %}
  </div>
</div>


<div class="slider fade">
    <div class="slider__logo-container">
    {% for client in clientsHome limit: 4 offset: 20 %}
{% capture client-logo-url%}/images/client-logos/{{client.logo}}{% endcapture %}
      <img src="{{client-logo-url | relative_url}}" alt="{{client.name}}" />    {% endfor %}
  </div>
</div>

{% endunless %}

{% if include.client-type %}
<div class="slider fixed">
  <div class="slider__logo-container">
  {% for client in site.data.client-info%}
    {% if client.solution == include.client-type %}
{% capture client-logo-url%}/images/client-logos/{{client.logo}}{% endcapture %}
      <img src="{{client-logo-url | relative_url}}" alt="{{client.name}}" />    {% endif %}
  {% endfor %}
  </div>
</div>
{% endif %}

