<label class="label--small theme_type--grey" for="recipient">Department</label>

<div class="select select--theme-dark">
  <select required id="contact-form-switch">
    <option value="" selected disabled>Select the Department</option>
    <option value="sales-contact-form-wrap">Sales</option>
    <option value="support-contact-form-wrap">Support</option>
  </select>
</div>

<div class="form-wrap" id="sales-contact-form-wrap">
  {% include sales-contact-form.html %}
</div>

<div class="form-wrap" id="support-contact-form-wrap" style="display: none;">
  {% include support-contact-form.html %}
</div>

<div id="solution-form__after-box">
  <h3>Message Sent!</h3>
  <p>Thank you for contacting us!<br>
    We will be in touch with you shortly.</p>
</div>