
<a href="{{include.tag.link}}" class="install__tag" data-label="{{include.tag.title}}">
    <img src="{{include.tag.image}}">
    <div class="install__tag-wrapper">
        <h3 class="title">{{include.tag.title}}</h3>
        <div class="install__tags-wrapper">
            {% for tag in include.tag.tags %}
                {% if tag == "digital-ocean-button" %}
                    <img class="tag-button" src="/images/install/{{tag}}.svg">
                {% else %}
                    <p class="small-tag">{{tag}}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</a>