{% assign tf = site.data.i18n-forms[include.lang] %}
{% assign tg = site.data.i18n-general[include.lang] %}


<div id='crmWebToEntityForm'>
  <form id="partners-contact-form" data-validate="true" class="contact-form">
    <input type='hidden' name='Lead_Source' id="lead-source" value='Website Form' />
    <input type='hidden' name='Website_Form' id="website-form" value='{{include.form-category}} at {{page.url}}' />
    <input type='hidden' name='Lead_Status' value='Not Qualified' />

    <fieldset>
      <label class="label--small theme_type--grey" for="First_Name">{{tf.first-name}}</label>
      <input required class="input input--{{include.theme}}" type="text" id="firstName" name="First_Name" placeholder="{{tf.type-first-name}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Last_Name">{{tf.last-name}}</label>
      <input required minlength="3" class="input input--{{include.theme}}" type="text" id="lastname" name="Last_Name"
        placeholder="{{tf.type-last-name}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Designation">{{tf.job-title}}</label>
      <input required minlength="3" class="input input--{{include.theme}}" type="text" id="title" name="Designation"
        placeholder="{{tf.type-job-title}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Email">{{tf.email-address}}</label>
      <input required minlength="3" class="input input--{{include.theme}}" type="email" id="email" name="Email"
        placeholder="{{tf.type-email-address}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Website">{{tf.website}}</label>
      <div data-prefix="https://" class="input-child input-child--dark">
        <input required type="text" id="Website" name="Website"
          pattern="[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)"
          placeholder="{{tf.type-website}}" />
      </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Company">{{tf.company}}</label>
      <input required minlength="3" maxlength="100" class="input input--{{include.theme}}" type="text" id="company" name="Company"
        placeholder="{{tf.type-company}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Country">{{tf.country}}</label>
      <div class="select select--theme-{{include.theme}}">
        <select required id="country" name="Country">
          <option selected disabled value="">{{tf.select-country}}</option>
          {% include select-countries.html %}
        </select>
      </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Size">{{tf.company-size}}</label>
      <div class="select select--theme-{{include.theme}}">
          <select style='width:100%;box-sizing:border-box;' name='Size'>
            <option value='-None-'>{{tf.select-option}}</option>
            <option value='0 - 10 people'>0 - 10 {{tf.people}}</option>
            <option value='11 - 50 People'>11 - 50 {{tf.people}}</option>
            <option value='51 - 100 People'>51 - 100 {{tf.people}}</option>
            <option value='101 - 250 People'>101 - 250 {{tf.people}}</option>
            <option value='251 - 500 People'>251 - 500 {{tf.people}}</option>
            <option value='501 - 1000 People'>501 - 1000 {{tf.people}}</option>
            <option value='1001 - 4000 People'>1001 - 4000 {{tf.people}}</option>
            <option value='4001 or more'>4001 {{tf.or-more}}</option>
          </select>
        </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Sales_Team_Size">{{tf.sales-team-size}}</label>
      <div class="select select--theme-{{include.theme}}">
          <select style='width:100%;box-sizing:border-box;' name='Sales_Team_Size'>
              <option disabled selected value='-None-'>{{tf.select-size}}</option>
              <option value='0 - 10 People'>0 - 10 {{tf.people}}</option>
              <option value='11 - 50 People'>11 - 50 {{tf.people}}</option>
              <option value='51 - 250 People'>51 - 250 {{tf.people}}</option>
              <option value='251 - 500 People'>251 - 500 {{tf.people}}</option>
              <option value='501 or more'>501 {{tf.or-more}}</option>
          </select>
        </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Expertise">{{tf.expertise}}</label>
      <div class="select select--theme-{{include.theme}}">
        <select style='width:100%;box-sizing:border-box;' name='Expertise'>
          <option disabled selected value='-None-'>{{tf.select-option}}</option>
          <option value='Collaboration&#x20;Products'>{{tf.collaboration-products}}</option>
          <option value='Devops'>Devops</option>
          <option value='Infrastructure'>{{tf.infrastructure}}</option>
          <option value='Omnichannel'>Omnichannel</option>
          <option value='Software&#x20;Factory'>{{tf.software-factory}}</option>
        </select>
      </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Partnership_Interest">{{tf.partnership-interest}}</label>
      <div class="select select--theme-{{include.theme}}">
        <select style='width:100%;box-sizing:border-box;' name='Partnership_Interest'>
          <option disabled selected value='-None-'>{{tf.select-option}}</option>
          <option value='Reseller'>{{tf.reseller}}</option>
          <option value='ISV&#x2f;OEM'>ISV&#x2f;OEM</option>
        </select>
      </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="message">{{tf.message}}</label>
      <textarea required rows="7" class="input input--{{include.theme}} question" name="Description" id="message"
        placeholder="{{tf.type-message}}"></textarea>
    </fieldset>

    <div class="space--2">
      <div class='g-recaptcha' data-sitekey='6LcYfsoUAAAAABkf5AFCBWwy0rUEFNFe0v56udfk' data-theme='light' data-callback='rccallback' captcha-verified='false' id='recap'></div>
    </div>

    <div class="flex-grid grid--justify-end">
      <div class="col--free no-gutter">
        <button class="button button--nobreak" id='formsubmit' type="submit">{{tg.become-partner}}</button>
      </div>
    </div>
  </form>
</div>

