<div class="pricing-table_wrapper">
    <table class="pricing-table">
        <!----------------------Features section--------------------------->
        <tr>
            <th class="pricing-table_header" colspan="4">Features</th>
        </tr>
        <tr>
            <th class="label">Unlimited Users</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Unlimited Messages</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Unlimited Search History</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Unlimited Public Channels</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Unlimited Private Groups</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Audio/Video Conferencing</th>
            <td class="bronze">Standard Definition</td>
            <td class="silver">High Definition</td>
            <td class="gold">High Definition</td>
        </tr>
        <tr>
            <th class="label">Storage</th>
            <td class="bronze">1TB</td>
            <td class="silver">5TB</td>
            <td class="gold">20TB</td>
        </tr>
        <tr>
            <th class="label">Integrations</th>
            <td class="bronze">5</td>
            <td class="silver">100</td>
            <td class="gold">1000</td>
        </tr>
        <tr>
            <th class="label">Multi Language Interface</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Apps iOS, Android, Win, Mac and Linux</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Custom Domain</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">White Label (Branding)</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Live Chat</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Live Streaming</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Read Receipt</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Realtime Translation</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Social Network Login</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">OmniChannel Integrations</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Audio to Text Conversion</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Message Auditing Panel</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Broadcast Channel</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <!----------------------Administration section--------------------------->
        <tr>
            <th class="pricing-table_header" colspan="4">Administration</th>
        </tr>
        <tr>
            <th class="label">Analytics Reporting</th>
            <td class="bronze">Daily</td>
            <td class="silver">Hourly</td>
            <td class="gold">Hourly</td>
        </tr>
        <tr>
            <th class="label">Customize User Permission</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Multi Factor Authentication</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Real Time Active Directory Sync LDAP</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Encrypted Push Notifications</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Engagement Analytics Dashboard</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <!----------------------Basics section--------------------------->
        <tr>
            <th class="pricing-table_header" colspan="4">Basics</th>
        </tr>
        <tr>
            <th class="label">Documentation & Tutorials</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Video Tutorials</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Rocket.Chat Forums</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">GitHub Issues</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <!----------------------Support section--------------------------->
        <tr>
            <th class="pricing-table_header" colspan="4">Support</th>
        </tr>
        <tr>
            <th class="label">Monitoring and Alerts</th>
            <td class="bronze">24/7</td>
            <td class="silver">24/7</td>
            <td class="gold">24/7</td>
        </tr>
        <tr>
            <th class="label">Reporting</th>
            <td class="bronze">Weekly</td>
            <td class="silver">Daily</td>
            <td class="gold">Hourly</td>
        </tr>
        <tr>
            <th class="label">Monthly Uptime SLA</th>
            <td class="bronze"></td>
            <td class="silver">99.99%</td>
            <td class="gold">99.99%</td>
        </tr>
        <tr>
            <th class="label">Backups</th>
            <td class="bronze">Daily</td>
            <td class="silver">Twice Daily</td>
            <td class="gold">Hourly</td>
        </tr>
        <tr>
            <th class="label">Updates</th>
            <td class="bronze">Automatic</td>
            <td class="silver">Automatic</td>
            <td class="gold">Automatic</td>
        </tr>
        <tr>
            <th class="label">Issue Acknowledgement Response Time SLA</th>
            <td class="bronze">Critical: 1 hour<br>Normal: 12 hours<br>Minimal: 2 business days</td>
            <td class="silver">Critical: 1 hour<br>Normal: 12 hours<br>Minimal: 2 business days</td>
            <td class="gold">Critical: 30 minutes<br>Normal: 8 hours<br>Minimal: 1 business day</td>
        </tr>
        <tr>
            <th class="label">Online Ticket Creation</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Email Support</th>
            <td class="bronze"><img src="/images/default/check.svg" /></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">24/7 Chat</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">24/7 Phone</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Account Onboarding</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <!----------------------Extras section--------------------------->
        <tr>
            <th class="pricing-table_header" colspan="4">Extras</th>
        </tr>
        <tr>
            <th class="label">Onboarding Assistance</th>
            <td class="bronze"></td>
            <td class="silver"><img src="/images/default/check.svg" /></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Migration Assistance</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
        <tr>
            <th class="label">Direct Access to Product Team</th>
            <td class="bronze"></td>
            <td class="silver"></td>
            <td class="gold"><img src="/images/default/check.svg" /></td>
        </tr>
    </table>
</div>
