{% assign tf = site.data.i18n-forms[page.lang] %}

<div id='crmWebToEntityForm'>
  <form id='sales-contact-form' accept-charset='UTF-8' class="contact-form" data-validate="true">
    <input type='hidden' name='Lead_Source' id="lead-source" value='Website Form' />
    <input type='hidden' name='Website_Form' id="website-form" value='{{include.form-category}} at {{page.url}}' />
    <input type='hidden' name='Lead_Status' value='Not Qualified' />

    <fieldset>
      <label class="label--small theme_type--grey" for="firstName">{{tf.first-name}}</label>
      <input required minlength="3" maxlength="100" class="input input--{{include.theme}} input--icon-user" type="text" id="firstName" name="First_Name" placeholder="{{tf.type-first-name}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="lastName">{{tf.last-name}}</label>
      <input required minlength="3" maxlength="100" class="input input--{{include.theme}} input--icon-user" type="text" id="lastName" name="Last_Name" placeholder="{{tf.type-last-name}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="email">{{tf.email-address}}</label>
      <input required minlength="3" maxlength="100" class="input input--{{include.theme}} input--icon-email" type="email" id="email" name="Email" placeholder="{{tf.type-email-address}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="country">{{tf.country}}</label>
      <div class="select select--theme-{{include.theme}}">
        <select required id="country" name="Country">
          <option selected disabled value="">{{tf.select-country}}</option>
          {% include select-countries.html %}
        </select>
      </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="company">{{tf.organization}}</label>
      <input required minlength="3" maxlength="100" class="input input--{{include.theme}}" type="text" id="company" name="Company" placeholder="{{tf.type-organization}}" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Size">{{tf.company-size}}</label>
      <div class="select select--theme-{{include.theme}}">
          <select style='width:100%;box-sizing:border-box;' name='Size'>
            <option selected disabled value='-None-'>{{tf.select-size}}</option>
            <option value='0 - 10 people'>0 - 10 {{tf.people}}</option>
            <option value='11 - 50 People'>11 - 50 {{tf.people}}</option>
            <option value='51 - 100 People'>51 - 100 {{tf.people}}</option>
            <option value='101 - 250 People'>101 - 250 {{tf.people}}</option>
            <option value='251 - 500 People'>251 - 500 {{tf.people}}</option>
            <option value='501 - 1000 People'>501 - 1000 {{tf.people}}</option>
            <option value='1001 - 4000 People'>1001 - 4000 {{tf.people}}</option>
            <option value='4001 or more'>4001 {{tf.or-more}}</option>
          </select>
        </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="Website">{{tf.website}}</label>
      <div data-prefix="https://">
        <input type="text" id="Website" class="input input--{{include.theme}}" name="Website"
          pattern="[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)"
          placeholder="{{tf.type-website}}" />
      </div>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="message">{{tf.question}}</label>
      <textarea required rows="7" class="input input--{{include.theme}} question" name="Description" id="message" placeholder="{{tf.type-question}}"></textarea>
    </fieldset>

    <div class="space--2">
      <div class='g-recaptcha' data-sitekey='6LcYfsoUAAAAABkf5AFCBWwy0rUEFNFe0v56udfk' data-theme='light' data-callback='rccallback' captcha-verified='false' id='recap'></div>
    </div>

    <div class="space--2"></div>
      <button type="submit" id='formsubmit' class="button">{{tf.send-message}}</button>
    <div class="space--4"></div>
    </form>
</div>
