<section class="container hero">
    <div class="hero__text">
        <h1 class="display--big theme_type--dark">{{include.solution.hero-title}}</h1>
        <p class="display--small theme_type--grey">{{include.solution.hero-desc}}</p>
        <a class="button" data-featherlight="#solution-form" data-featherlight-persist="true" href="#">Contact Us</a>
    </div>
    <img class="hero__image" alt="hero-image" src="/images/solutions/{{include.solution.hero-image}}">
</section>

<section class="features">
    <div class="container">
        <div class="features__title">
            <p class="label theme_type--light">{{include.solution.features-uptitle}}</p>
            <h2 class="display">{{include.solution.features-title}}</h2>
            <p class="theme_type--light display--small">{{include.solution.features-subtitle}}</p>
        </div>
        <div class="features__icons">
            {% for feature in include.solution.tools %}
            <div class="feature">
                <img class="feature__image" alt="{{feature.title}}" src="/images/solutions/{{feature.image}}">
                <div class="feature__container">
                    <h3 class="feature__title">{{feature.title}}</h3>
                    <p class="feature__text">{{feature.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        {% include {{ include.solution.card-location }} %}
    </div>
</section>

<div id="solution-form">

    <h3 class="display--small theme_type--dark">
        <bold>Contact Us</bold>
    </h3>

    {% include sales-contact-form.html %}

</div>