<div id='zohoSupportWebToCase'>

  <form name='zsWebToCase_413244000001944007' id='zsWebToCase_413244000001944007' action='https://desk.rocket.chat/support/WebToCase' method='POST' onSubmit='return zsValidateMandatoryFields()' enctype='multipart/form-data'> 

    <input type='hidden' name='xnQsjsdp' value='gsgOpc0dNuTUnLk-a6C1tg$$' /> 
    <input type='hidden' name='xmIwtLD' value='wrqdztf*cosvD7h4EP1kmQw1vyXgS1pG' /> 
    <input type='hidden' name='xJdfEaS' value='' /> 
    <input type='hidden' name='actionType' value='Q2FzZXM=' /> 
    <input type="hidden" id="property(module)" value="Cases" />
    <input type="hidden" id="dependent_field_values_Cases" value="&#x7b;&quot;JSON_VALUES&quot;&#x3a;&#x7b;&#x7d;,&quot;JSON_SELECT_VALUES&quot;&#x3a;&#x7b;&#x7d;,&quot;JSON_MAP_DEP_LABELS&quot;&#x3a;&#x5b;&#x5d;&#x7d;" />
    <input type='hidden' name='returnURL' value='https://rocket.chat/contact#thank-you' />

    <fieldset>
      <label class="label--small theme_type--grey" for="firstName">First Name</label>
      <input required minlength="3" maxlength="100" class="input input--dark input--icon-user" type="text" id="firstName" name="First Name" placeholder="Type your first name" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="lastName">Last Name</label>
      <input required minlength="3" maxlength="100" class="input input--dark input--icon-user" type="text" id="lastName" name="Contact Name" placeholder="Type your last name" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="email">Email Address</label>
      <input required minlength="3" maxlength="100" class="input input--dark input--icon-email" type="email" id="email" name="Email" placeholder="Type your email address" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="subject">Subject</label>
      <input required minlength="3" maxlength="100" class="input input--dark" type="text" id="subject" name="Subject" placeholder="Type the subject of the message" />
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="message">Message</label>
      <textarea required rows="7" class="input input--dark question" name="Description" id="message" placeholder="Type your Message"></textarea>
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="message">Captcha</label>
      <img src='#' id='zsCaptchaUrl' name="zsCaptchaImage">
    </fieldset>

    <fieldset>
      <label class="label--small theme_type--grey" for="repeatcaptcha">Repeat Captcha</label>
      <input type='text' class="input input--dark" maxlength='10' id="repeatcaptcha" name='zsWebFormCaptchaWord' />
      <input type='hidden' name='zsCaptchaSrc' value='' />
    </fieldset>

    <div class="space--2"></div>
    <button type="submit" id='zsSubmitButton_413244000001944007' class="button">Send message</button>
    <div class="space--4"></div>

  </form>
</div>