{% assign tg = site.data.i18n-general[include.lang] %}


<section class="banner container">
    <div class="col">
        <div class="banner_wrap align--center {% if page.theme == 'light' %}card theme_box--light{% else %}card theme_box--dark-strong{% endif %}">
            <div  class="{% if page.theme == 'dark' %}theme_type--grey{% endif %}"> {{tg.covid_keep_you_home}} 🚀
                <a id="covid-webinar-link" target="_blank" href="https://rocket.chat/2020/03/24/remote-work/" rel="noopener noreferrer">
                    <strong>{{tg.catch_covid_webinar}}</strong>
                </a>
        </div>
    </div>
</section>
