{% assign tg = site.data.i18n-general[include.lang] %}


<section class="banner container">
    <div class="col">
        <div class="banner_wrap align--center {% if page.theme == 'light' %}card theme_box--light{% else %}card theme_box--dark-strong{% endif %}">
            <div  class="{% if page.theme == 'dark' %}theme_type--grey{% endif %}">
                <a id="covid-webinar-link" target="_blank" href="https://rocket.chat/2020/04/13/alternatives-to-zoom/?utm_source=link&utm_medium=homepage&utm_campaign=data_security" rel="noopener noreferrer">
                    <b>➡️ {{tg.alternative-to-zoom}} ✅</b>
                </a>
        </div>
    </div>
</section>
